body {
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #e4e4dc; 
    margin: 0;
    padding: 0;
}

header {
    background-color: #bfcab4;
    text-align: center;
    padding: 1em 0;
}

header h1 {
    color: #333;
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 2em;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

main {
    margin: 2vw auto;
    max-width: 50%;
}

main p {
    text-align: left;
}

.index-main > section {
    display: flex;
    width: 100%;
}

.index-main > section div {
    width: 50%;
}

main > section img {
    width: 50%;
    height: 15em;
    object-fit: cover;
    padding: 0.7vw;
}

.active, nav ul li a:hover {
    text-decoration: double;
    text-decoration-color: #333;
    font-weight: bold;
}

footer {
    background-color: #bfcab4;
    color: white;
    text-align: center;
    padding: 1em 0;
    bottom: 0;
    width: 100%;
    position:fixed;
}

.photo-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.photo-review {
    width: 30%;
    text-align: center;
}

.photo-review img {
    width: 100%;
    height: auto;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

.tab-content {
    display: none;
    padding: 20px;
    border-top: 1px solid #ccc;
}

.tab-content:target {
    display: block;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

.tab-content {
    display: none;
    padding: 20px;
}

.tab-content:target {
    display: block;
}

video {
    float: right;
    margin-left: 10px;
    width: 50%; 
}

